In [1]:
import sys
import os
sys.path.append(os.path.abspath(".."))
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.4 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\anush\anaconda3\Lib\runpy.py", line 198, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\anush\anaconda3\Lib\runpy.py", line 88, in _run_code
    exec(code, run_globals)
  File "C:\Users\anush\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\Users\anush\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\anush\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\Users\anush\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\anush\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\Users\anush\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\Users\anush\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\anush\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\Users\anush\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\Users\anush\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\Users\anush\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\Users\anush\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\Users\anush\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\Users\anush\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\anush\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\anush\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\anush\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\anush\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\anush\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\anush\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\anush\AppData\Local\Temp\ipykernel_22072\4080736814.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\anush\anaconda3\Lib\site-packages\pandas\__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "C:\Users\anush\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\anush\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\anush\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\anush\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 67, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\anush\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py", line 61, in <module>
    from pandas.core import (
  File "C:\Users\anush\anaconda3\Lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\anush\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\anush\anaconda3\Lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\anush\anaconda3\Lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

AttributeError: _ARRAY_API not found

In [3]:
data = [
    [1,5,7],
    [1,5,8],
    [1,6,8]
]

columns = ['A','B','C']

df_data = pd.DataFrame(data, columns=columns)
print(df_data)

   A  B  C
0  1  5  7
1  1  5  8
2  1  6  8

In [4]:
from src.database.db_connection import *

In [5]:
engine = create_engine_for_db()

In [6]:
df_data.to_sql('test_prototype_1',engine,schema='prototype1',index=False,if_exists='replace')

3

In [7]:
fd_constraints = [(['A'],['B','C'])]

# Step 1 - simplify FDs to have one attribute at RHS

In [8]:
from src.utilities.step1_simplify_fds import *

In [9]:
fd_constraints = simplify_FDs(fd_constraints)

In [10]:
fd_constraints

[(['A'], ['B']), (['A'], ['C'])]

# Step 2: clusters + generating possible repairs per cluster

In [11]:
from src.utilities.step2_clustering_and_generating_repairs import *

### Step 2_0: Preprocess data by adding a new column with unique identifier

In [12]:
df_data = preprocess_data(df_data)

In [13]:
df_data

   A  B  C  uuid
0  1  5  7     1
1  1  5  8     2
2  1  6  8     3

### Step 2_1: Take user input for:
### 1) Delete costs
### 2) Update costs
### 3) Epsilon value: small constant to avoid division by zero
### 4) Score Name: UNIFORM or COST_BASED calculations for probability values 
### 5) Constraint hardness: An Array to define the hardness of each constraint. Each element of the array will have value between [0,1.0]

In [14]:
delete_cost = 2
update_cost = 1
eps=1e-9
prob_type = 'UNIFORM'
constraint_hardness = [1.0,1.0]

### Step 2_2: Compute actions per cluster for each FD

In [15]:
from src.utilities.step2_clustering_and_generating_repairs import *

In [16]:
actions,cluster_ids,rv_probs = compute_actions(df_data, fd_constraints, constraint_hardness,delete_cost, update_cost,eps,prob_type)

In [17]:
rv_probs

{'fd1B1=1': 0.08333333333333333,
 'fd1B1=2': 0.08333333333333333,
 'fd1B1=3': 0.08333333333333333,
 'fd1B1=4': 0.08333333333333333,
 'fd1B1=5': 0.08333333333333333,
 'fd1B1=6': 0.08333333333333333,
 'fd1B1=7': 0.08333333333333333,
 'fd1B1=8': 0.08333333333333333,
 'fd1B1=9': 0.08333333333333333,
 'fd1B1=10': 0.08333333333333333,
 'fd1B1=11': 0.08333333333333333,
 'fd1B1=12': 0.08333333333333333,
 'fd2C1=1': 0.08333333333333333,
 'fd2C1=2': 0.08333333333333333,
 'fd2C1=3': 0.08333333333333333,
 'fd2C1=4': 0.08333333333333333,
 'fd2C1=5': 0.08333333333333333,
 'fd2C1=6': 0.08333333333333333,
 'fd2C1=7': 0.08333333333333333,
 'fd2C1=8': 0.08333333333333333,
 'fd2C1=9': 0.08333333333333333,
 'fd2C1=10': 0.08333333333333333,
 'fd2C1=11': 0.08333333333333333,
 'fd2C1=12': 0.08333333333333333}

### Step 2_3 Combine repair actions per cluster

### Step 2_4 Pick Minimum cost repair actions out of all per cluster

In [18]:
all_actions = min_cost_actions(cluster_ids,actions,delete_cost,update_cost)

### Step 2_5 Apply repair actions to the orignal data

In [19]:
repaired_versions =  apply_combined_actions(df_data, all_actions, uuid_col="uuid")

In [20]:
repaired_versions = pd.concat(repaired_versions, ignore_index=True)

In [21]:
repaired_versions = repaired_versions.drop(columns=["uuid"])

In [22]:
rv_probabilities = filter_and_condition_min_cost_rvs(rv_probs, repaired_versions)

# Step 3: Merge same rows by combining sentences

In [23]:
repaired_versions

    A  B  C           _sentences
0   1  5  7    fd1B1=4 & fd2C1=4
1   1  5  7    fd1B1=4 & fd2C1=4
2   1  5  7    fd1B1=4 & fd2C1=4
3   1  5  8    fd1B1=4 & fd2C1=8
4   1  5  8    fd1B1=4 & fd2C1=8
5   1  5  8    fd1B1=4 & fd2C1=8
6   1  5  8   fd1B1=4 & fd2C1=12
7   1  5  8   fd1B1=4 & fd2C1=12
8   1  5  8   fd1B1=4 & fd2C1=12
9   1  5  7    fd1B1=8 & fd2C1=4
10  1  5  7    fd1B1=8 & fd2C1=4
11  1  5  7    fd1B1=8 & fd2C1=4
12  1  5  8    fd1B1=8 & fd2C1=8
13  1  5  8    fd1B1=8 & fd2C1=8
14  1  5  8    fd1B1=8 & fd2C1=8
15  1  5  8   fd1B1=8 & fd2C1=12
16  1  5  8   fd1B1=8 & fd2C1=12
17  1  5  8   fd1B1=8 & fd2C1=12
18  1  6  8   fd1B1=12 & fd2C1=8
19  1  6  8   fd1B1=12 & fd2C1=8
20  1  6  8   fd1B1=12 & fd2C1=8
21  1  6  8  fd1B1=12 & fd2C1=12
22  1  6  8  fd1B1=12 & fd2C1=12
23  1  6  8  fd1B1=12 & fd2C1=12

In [24]:
from src.utilities.step4_group_similar_sentences import *

In [25]:
repaired_df = group_similar_rows_together(repaired_versions)

In [26]:
repaired_df

   A  B  C                                         _sentences
0  1  5  7          (fd1B1=4 & fd2C1=4) | (fd1B1=8 & fd2C1=4)
1  1  5  8  (fd1B1=4 & fd2C1=8) | (fd1B1=4 & fd2C1=12) | (...
2  1  6  8       (fd1B1=12 & fd2C1=8) | (fd1B1=12 & fd2C1=12)

In [27]:
rv_probabilities

{'fd1B1=4': 0.3333333333333333,
 'fd1B1=8': 0.3333333333333333,
 'fd1B1=12': 0.3333333333333333,
 'fd2C1=4': 0.3333333333333333,
 'fd2C1=8': 0.3333333333333333,
 'fd2C1=12': 0.3333333333333333}

# Step 5: Insert in Dubio

In [28]:
drop_stmt = f"DROP table prototype1.test_prototype_1_prob CASCADE;"
with engine.begin() as connection:
    connection.execute(text(drop_stmt))

In [29]:
repaired_df.to_sql('test_prototype_1_prob',engine,schema='prototype1',index=False,if_exists='replace')

3

In [30]:
update_stmt_dic = f"UPDATE prototype1._dict set  dict = dictionary('') where name='prototype_dict';"
with engine.begin() as connection:
    connection.execute(text(update_stmt_dic))

In [31]:
entries = [f"{k}:{v}" for k, v in rv_probabilities.items()]
joined = ';'.join(entries)

update_stmt = f"UPDATE prototype1._dict\nSET dict=add(dict, '{joined}')\nWHERE name='prototype_dict';"

print(update_stmt)

UPDATE prototype1._dict
SET dict=add(dict, 'fd1B1=4:0.3333333333333333;fd1B1=8:0.3333333333333333;fd1B1=12:0.3333333333333333;fd2C1=4:0.3333333333333333;fd2C1=8:0.3333333333333333;fd2C1=12:0.3333333333333333')
WHERE name='prototype_dict';

In [32]:
with engine.begin() as connection:
    connection.execute(text(update_stmt))