In [1]:
import sys
import os
import warnings
import time

PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), "..", "..", ".."))
if PROJECT_ROOT not in sys.path:
    sys.path.append(PROJECT_ROOT)
warnings.filterwarnings("ignore")

In [2]:
from src.database.db_connection import *
from src.evaluation.metrics import *
from src.utilities.step1_simplify_fds import *

In [3]:
engine = create_engine_for_db()

In [4]:
fd_constraints = [(['sid', 'university'],['sname', 'address', 'postcode', 'emailid', 'phonenum'])]

In [5]:
fd_constraints = simplify_FDs(fd_constraints)

In [6]:
fd_constraints

[(['sid', 'university'], ['sname']),
 (['sid', 'university'], ['address']),
 (['sid', 'university'], ['postcode']),
 (['sid', 'university'], ['emailid']),
 (['sid', 'university'], ['phonenum'])]

In [7]:
violation_levels = [
  {'target_violation_fraction': 0.20, 'dups_per_cluster': (1, 1),  'cells_corrupted': (1, 1)},
  {'target_violation_fraction': 0.40, 'dups_per_cluster': (3, 3),  'cells_corrupted': (1, 2)},  
  {'target_violation_fraction': 0.60, 'dups_per_cluster': (6, 6),  'cells_corrupted': (2, 3)},  
  {'target_violation_fraction': 0.80, 'dups_per_cluster': (9, 9),  'cells_corrupted': (3, 4)}  
]

num_inconsistent_relations = 20

delete_cost = 2
update_cost = 1
eps=1e-9
prob_type = 'COST_BASED'
constraint_hardness = [1.0] * len(fd_constraints)

query_file_name_expected_CQA = "../../../queries/FP/synthetic/Students_truth.sql"
query_file_name_actual_CQA = "../../../queries/FP/synthetic/Students_CQA.sql"
algorithm_name = 'CQA'
old_table_name = 'prototype_fp.students'

In [8]:
for j,violation_level in enumerate(violation_levels,start=1):
    total_time = 0.0
    total_precision_CQA, total_recall_CQA,total_coverage_CQA, total_noise_CQA = 0.0, 0.0, 0.0, 0.0
    target_violation_fraction = violation_level['target_violation_fraction']
    dups_per_cluster = violation_level['dups_per_cluster']
    cells_corrupted = violation_level['cells_corrupted']
    
    for i in range(1, num_inconsistent_relations + 1):
        
        table_name = f"students_{j}_{i}"

        start = time.perf_counter()
        results_CQA,results_with_truth_set_CQA = calculate_expected_values(query_file_name_expected_CQA, query_file_name_actual_CQA, algorithm_name, 
                                                                           engine,old_table_name, f"prototype_fp.{table_name}")
        elapsed = time.perf_counter() - start
        
        precision_CQA, recall_CQA,coverage_CQA, noise_CQA = summarize_results(results_CQA)
        
        print(f"\nViolation Level {j}: Processed inconsistent relation {i} table name: {table_name}")
        print(f"Time taken {elapsed}")
        print(f"Precision CQA: {precision_CQA:.4f}")
        print(f"Recall CQA: {recall_CQA:.4f}")
        print(f"Coverage CQA: {coverage_CQA:.4f}")
        print(f"Noise CQA: {noise_CQA:.4f}")
        total_precision_CQA += precision_CQA
        total_recall_CQA += recall_CQA
        total_coverage_CQA += coverage_CQA
        total_noise_CQA += noise_CQA
        total_time += elapsed
        
    avg_time_violation_level = total_time/num_inconsistent_relations
    avg_precision_CQA = total_precision_CQA / num_inconsistent_relations
    avg_recall_CQA = total_recall_CQA / num_inconsistent_relations
    avg_coverage_CQA = total_coverage_CQA / num_inconsistent_relations
    avg_noise_CQA = total_noise_CQA / num_inconsistent_relations

    
    print(f"\nViolation Level {j}: Average time taken {avg_time_violation_level}")
    print(f"Average Precision CQA for violation level {j}: {avg_precision_CQA:.4f}")
    print(f"Average Recall CQA for violation level {j}: {avg_recall_CQA:.4f}")
    print(f"Average Coverage CQA for violation level {j}: {avg_coverage_CQA:.4f}")
    print(f"Average Noise CQA for violation level {j}: {avg_noise_CQA:.4f}")

Violation Level 1: Processed inconsistent relation 1 table name: students_1_1
Time taken 0.5090103999827988
Precision CQA: 1.0000
Recall CQA: 0.8103
Coverage CQA: 0.8103
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 2 table name: students_1_2
Time taken 0.3071421000058763
Precision CQA: 1.0000
Recall CQA: 0.7932
Coverage CQA: 0.7932
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 3 table name: students_1_3
Time taken 0.3098871000111103
Precision CQA: 1.0000
Recall CQA: 0.8017
Coverage CQA: 0.8017
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 4 table name: students_1_4
Time taken 0.3139674999983981
Precision CQA: 1.0000
Recall CQA: 0.7889
Coverage CQA: 0.7889
Noise CQA: 0.0000
{(102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 20)}
{(102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 18), (102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 20)}
1
2
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_5 s1  WHERE s1.SID  = 102 and s1.university = 'UT' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_5  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));
{(102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 20)}
{(102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 18), (102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 20)}
1
2
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_5 s1  WHERE s1.SName = 'Claire Stevens' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_5  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));
{(106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 23), (104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 20), (101, 'John Bell', 'UT', 'Calslaan 10', 'jb', 6, '7522MB', 21), (102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 20)}
{(104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 20), (102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 18), (106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 23), (101, 'John Bell', 'UT', 'Calslaan 10', 'jb', 6, '7522MB', 21), (102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 20)}
4
5
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_5 s1  WHERE s1.University  = 'UT' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_5  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));

Violation Level 1: Processed inconsistent relation 5 table name: students_1_5
Time taken 0.3107239999808371
Precision CQA: 0.9692
Recall CQA: 0.9009
Coverage CQA: 0.9009
Noise CQA: 0.0308

Violation Level 1: Processed inconsistent relation 6 table name: students_1_6
Time taken 0.32142389996442944
Precision CQA: 1.0000
Recall CQA: 0.8060
Coverage CQA: 0.8060
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 7 table name: students_1_7
Time taken 0.3051889999769628
Precision CQA: 1.0000
Recall CQA: 0.8017
Coverage CQA: 0.8017
Noise CQA: 0.0000
{(101, 'David Wong', 'EIND', 'Kanaalstraat 3', 'dw', 14, '5612CD', 17)}
{(101, 'David Wong', 'EIND', 'Kanaalstraat 3', 'dw', 14, '5612CD', 17), (101, 'David Wong', 'EIND', 'Kanaalstraat 3', 'dw', 14, '5612CD', 18)}
1
2
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_8 s1  WHERE s1.SID  = 101 and s1.university = 'EIND' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_8  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));
{(101, 'David Wong', 'EIND', 'Kanaalstraat 3', 'dw', 14, '5612CD', 17)}
{(101, 'David Wong', 'EIND', 'Kanaalstraat 3', 'dw', 14, '5612CD', 17), (101, 'David Wong', 'EIND', 'Kanaalstraat 3', 'dw', 14, '5612CD', 18)}
1
2
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_8 s1  WHERE s1.SName = 'David Wong' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_8  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));
{(104, 'George Bailey', 'EIND', 'Onze Lieve Vrouw 7', 'sn', 12, '7525NB', 18), (101, 'David Wong', 'EIND', 'Kanaalstraat 3', 'dw', 14, '5612CD', 17), (103, 'Pet Norton', 'EIND', 'Insulindelaan 2', 'pn', 11, '7525NB', 19)}
{(104, 'George Bailey', 'EIND', 'Onze Lieve Vrouw 7', 'sn', 12, '7525NB', 18), (101, 'David Wong', 'EIND', 'Kanaalstraat 3', 'dw', 14, '5612CD', 18), (101, 'David Wong', 'EIND', 'Kanaalstraat 3', 'dw', 14, '5612CD', 17), (103, 'Pet Norton', 'EIND', 'Insulindelaan 2', 'pn', 11, '7525NB', 19)}
3
4
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_8 s1  WHERE s1.University  = 'EIND' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_8  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));

Violation Level 1: Processed inconsistent relation 8 table name: students_1_8
Time taken 0.3923326999647543
Precision CQA: 0.9679
Recall CQA: 0.9051
Coverage CQA: 0.9051
Noise CQA: 0.0321
{(106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 23)}
{(106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 23), (106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 30)}
1
2
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_9 s1  WHERE s1.SID  = 106 and s1.university = 'UT' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_9  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));
{(106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 23)}
{(106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 23), (106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 30)}
1
2
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_9 s1  WHERE s1.SName = 'Rahul Mehta' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_9  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));
{(106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 23), (104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 20), (101, 'John Bell', 'UT', 'Calslaan 10', 'jb', 6, '7522MB', 21), (102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 20)}
{(104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 20), (106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 30), (106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 23), (101, 'John Bell', 'UT', 'Calslaan 10', 'jb', 6, '7522MB', 21), (102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 20)}
4
5
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_9 s1  WHERE s1.University  = 'UT' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_9  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));

Violation Level 1: Processed inconsistent relation 9 table name: students_1_9
Time taken 0.3116044999915175
Precision CQA: 0.9692
Recall CQA: 0.8880
Coverage CQA: 0.8880
Noise CQA: 0.0308

Violation Level 1: Processed inconsistent relation 10 table name: students_1_10
Time taken 0.3002868000185117
Precision CQA: 1.0000
Recall CQA: 0.8017
Coverage CQA: 0.8017
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 11 table name: students_1_11
Time taken 0.338769499969203
Precision CQA: 1.0000
Recall CQA: 0.7932
Coverage CQA: 0.7932
Noise CQA: 0.0000
{(104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 20)}
{(104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 20), (104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 22)}
1
2
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_12 s1  WHERE s1.SID  = 104 and s1.university = 'UT' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_12  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));
{(104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 20)}
{(104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 20), (104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 22)}
1
2
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_12 s1  WHERE s1.SName = 'Sofia Janssen' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_12  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));
{(106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 23), (104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 20), (101, 'John Bell', 'UT', 'Calslaan 10', 'jb', 6, '7522MB', 21), (102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 20)}
{(104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 20), (104, 'Sofia Janssen', 'UT', 'De Klomp 8', 'sj', 18, '7523MB', 22), (106, 'Rahul Mehta', 'UT', 'Hengelosestraat 15', 'rm', 16, '7522MB', 23), (101, 'John Bell', 'UT', 'Calslaan 10', 'jb', 6, '7522MB', 21), (102, 'Claire Stevens', 'UT', 'Drienerlolaan 5', 'cs', 10, '7523MB', 20)}
4
5
select s1.SID, s1.SName ,s1.University ,s1.Address ,s1.EmailId ,s1.PhoneNum ,s1.Postcode, s1.age  FROM prototype_fp.students_1_12 s1  WHERE s1.University  = 'UT' and NOT EXISTS ( SELECT * FROM prototype_fp.students_1_12  s2 WHERE (s1.SID  = s2.SID) and (s1.university = s2.university) AND ((s1.SName  <> s2.SName) or (s1.address  <> s2.address) or (s1.emailid  <> s2.emailid) or (s1.phonenum  <> s2.phonenum) or (s1.postcode  <> s2.postcode)));

Violation Level 1: Processed inconsistent relation 12 table name: students_1_12
Time taken 0.30748099996708333
Precision CQA: 0.9692
Recall CQA: 0.9009
Coverage CQA: 0.9009
Noise CQA: 0.0308

Violation Level 1: Processed inconsistent relation 13 table name: students_1_13
Time taken 0.3044225000194274
Precision CQA: 1.0000
Recall CQA: 0.7932
Coverage CQA: 0.7932
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 14 table name: students_1_14
Time taken 0.32285560003947467
Precision CQA: 1.0000
Recall CQA: 0.8060
Coverage CQA: 0.8060
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 15 table name: students_1_15
Time taken 0.28789010003674775
Precision CQA: 1.0000
Recall CQA: 0.8060
Coverage CQA: 0.8060
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 16 table name: students_1_16
Time taken 0.35223130002850667
Precision CQA: 1.0000
Recall CQA: 0.8060
Coverage CQA: 0.8060
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 17 table name: students_1_17
Time taken 0.40675130003364757
Precision CQA: 1.0000
Recall CQA: 0.8060
Coverage CQA: 0.8060
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 18 table name: students_1_18
Time taken 0.32159770000725985
Precision CQA: 1.0000
Recall CQA: 0.8060
Coverage CQA: 0.8060
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 19 table name: students_1_19
Time taken 0.32441990001825616
Precision CQA: 1.0000
Recall CQA: 0.7932
Coverage CQA: 0.7932
Noise CQA: 0.0000

Violation Level 1: Processed inconsistent relation 20 table name: students_1_20
Time taken 0.31486499996390194
Precision CQA: 1.0000
Recall CQA: 0.7932
Coverage CQA: 0.7932
Noise CQA: 0.0000

Violation Level 1: Average time taken 0.3331425949989352
Average Precision CQA for violation level 1: 0.9938
Average Recall CQA for violation level 1: 0.8200
Average Coverage CQA for violation level 1: 0.8200
Average Noise CQA for violation level 1: 0.0062

Violation Level 2: Processed inconsistent relation 1 table name: students_2_1
Time taken 0.30476850003469735
Precision CQA: 1.0000
Recall CQA: 0.6034
Coverage CQA: 0.6034
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 2 table name: students_2_2
Time taken 0.3174623000086285
Precision CQA: 1.0000
Recall CQA: 0.5949
Coverage CQA: 0.5949
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 3 table name: students_2_3
Time taken 0.28783909999765456
Precision CQA: 1.0000
Recall CQA: 0.5991
Coverage CQA: 0.5991
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 4 table name: students_2_4
Time taken 0.3164743999950588
Precision CQA: 1.0000
Recall CQA: 0.5821
Coverage CQA: 0.5821
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 5 table name: students_2_5
Time taken 0.3273466000100598
Precision CQA: 1.0000
Recall CQA: 0.5991
Coverage CQA: 0.5991
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 6 table name: students_2_6
Time taken 0.35183060000417754
Precision CQA: 1.0000
Recall CQA: 0.5949
Coverage CQA: 0.5949
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 7 table name: students_2_7
Time taken 0.3100233000004664
Precision CQA: 1.0000
Recall CQA: 0.5906
Coverage CQA: 0.5906
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 8 table name: students_2_8
Time taken 0.3272177999606356
Precision CQA: 1.0000
Recall CQA: 0.6120
Coverage CQA: 0.6120
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 9 table name: students_2_9
Time taken 0.33606380003038794
Precision CQA: 1.0000
Recall CQA: 0.5863
Coverage CQA: 0.5863
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 10 table name: students_2_10
Time taken 0.3090895999921486
Precision CQA: 1.0000
Recall CQA: 0.6077
Coverage CQA: 0.6077
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 11 table name: students_2_11
Time taken 0.31684010004391894
Precision CQA: 1.0000
Recall CQA: 0.5863
Coverage CQA: 0.5863
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 12 table name: students_2_12
Time taken 0.3300930000259541
Precision CQA: 1.0000
Recall CQA: 0.5863
Coverage CQA: 0.5863
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 13 table name: students_2_13
Time taken 0.33075429999735206
Precision CQA: 1.0000
Recall CQA: 0.5821
Coverage CQA: 0.5821
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 14 table name: students_2_14
Time taken 0.4032147999969311
Precision CQA: 1.0000
Recall CQA: 0.6077
Coverage CQA: 0.6077
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 15 table name: students_2_15
Time taken 0.3260446999920532
Precision CQA: 1.0000
Recall CQA: 0.5991
Coverage CQA: 0.5991
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 16 table name: students_2_16
Time taken 0.34729870001319796
Precision CQA: 1.0000
Recall CQA: 0.6162
Coverage CQA: 0.6162
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 17 table name: students_2_17
Time taken 0.3357211999827996
Precision CQA: 1.0000
Recall CQA: 0.6077
Coverage CQA: 0.6077
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 18 table name: students_2_18
Time taken 0.3565402999520302
Precision CQA: 1.0000
Recall CQA: 0.6034
Coverage CQA: 0.6034
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 19 table name: students_2_19
Time taken 0.3387320999754593
Precision CQA: 1.0000
Recall CQA: 0.5863
Coverage CQA: 0.5863
Noise CQA: 0.0000

Violation Level 2: Processed inconsistent relation 20 table name: students_2_20
Time taken 0.33699340000748634
Precision CQA: 1.0000
Recall CQA: 0.5949
Coverage CQA: 0.5949
Noise CQA: 0.0000

Violation Level 2: Average time taken 0.3305174300010549
Average Precision CQA for violation level 2: 1.0000
Average Recall CQA for violation level 2: 0.5970
Average Coverage CQA for violation level 2: 0.5970
Average Noise CQA for violation level 2: 0.0000

Violation Level 3: Processed inconsistent relation 1 table name: students_3_1
Time taken 0.3292196999536827
Precision CQA: 1.0000
Recall CQA: 0.4051
Coverage CQA: 0.4051
Noise CQA: 0.0000

Violation Level 3: Processed inconsistent relation 2 table name: students_3_2
Time taken 0.35043099999893457
Precision CQA: 1.0000
Recall CQA: 0.3923
Coverage CQA: 0.3923
Noise CQA: 0.0000

Violation Level 3: Processed inconsistent relation 3 table name: students_3_3
Time taken 0.332269600010477
Precision CQA: 1.0000
Recall CQA: 0.4051
Coverage CQA: 0.4051
Noise CQA: 0.0000

Violation Level 3: Processed inconsistent relation 4 table name: students_3_4
Time taken 0.3015434999833815
Precision CQA: 1.0000
Recall CQA: 0.3880
Coverage CQA: 0.3880
Noise CQA: 0.0000

Violation Level 3: Processed inconsistent relation 5 table name: students_3_5
Time taken 0.30159220000496134
Precision CQA: 1.0000
Recall CQA: 0.4051
Coverage CQA: 0.4051
Noise CQA: 0.0000

Violation Level 3: Processed inconsistent relation 6 table name: students_3_6
Time taken 0.3222826999844983
Precision CQA: 1.0000
Recall CQA: 0.3880
Coverage CQA: 0.3880
Noise CQA: 0.0000

Violation Level 3: Processed inconsistent relation 7 table name: students_3_7
Time taken 0.3404005999909714
Precision CQA: 1.0000
Recall CQA: 0.3966
Coverage CQA: 0.3966
Noise CQA: 0.0000

Violation Level 3: Processed inconsistent relation 8 table name: students_3_8
Time taken 0.33234920003451407
Precision CQA: 1.0000
Recall CQA: 0.4009
Coverage CQA: 0.4009
Noise CQA: 0.0000

Violation Level 3: Processed inconsistent relation 9 table name: students_3_9
Time taken 0.32712779997382313
Precision CQA: 1.0000
Recall CQA: 0.3923
Coverage CQA: 0.3923
Noise CQA: 0.0000

Violation Level 3: Processed inconsistent relation 10 table name: students_3_10
Time taken 0.36706459999550134
Precision CQA: 1.0000
Recall CQA: 0.3966
Coverage CQA: 0.3966
Noise CQA: 0.0000

Violation Level 3: Processed inconsistent relation 11 table name: students_3_11
Time taken 0.4036331999814138
Precision CQA: 1.0000
Recall CQA: 0.3880
Coverage CQA: 0.3880
Noise CQA: 0.0000

Violation Level 3: Processed inconsistent relation 12 table name: students_3_12
Time taken 0.3727797000319697
Precision CQA: 1.0000
Recall CQA: 0.3880