In [1]:
import sys
import os
import warnings
import time

PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), "..", "..", ".."))
if PROJECT_ROOT not in sys.path:
    sys.path.append(PROJECT_ROOT)
warnings.filterwarnings("ignore")

In [2]:
from src.database.db_connection import *
from src.database.preparation import *
from src.utilities.step1_simplify_fds import *
from src.utilities.step2_clustering_and_generating_repairs import *
from src.utilities.step3_convert_back_to_db import *
from src.utilities.step4_group_similar_sentences import *
from src.evaluation.metrics import *
from src.database.db_connection import *

In [3]:
# inconsistent_df = pd.DataFrame([
#     [101, 'John Bell', 'UT', 19],
#     [101, 'James Bell', 'UT', 20],
#     [102, 'Claire Stevens', 'TUE', 20],
#     [102, 'Claire Stevens', 'TUE', 20]
# ], columns=['SID','SName','University','Age'])

In [4]:
engine = create_engine_for_db()

In [5]:
with engine.begin() as connection:
    connection.execute(text("""
    TRUNCATE TABLE prototype_fp.students_prob
    RESTART IDENTITY
    CASCADE;
    """))
    connection.execute(text("""
    UPDATE prototype_fp."_dict"
    SET dict = dictionary('')
    WHERE name = :name;
    """), {"name": "students_dict"})

In [6]:
fd_constraints = [(['sid', 'university'],['sname', 'address', 'postcode', 'emailid', 'phonenum'])]

In [7]:
fd_constraints = simplify_FDs(fd_constraints)

In [8]:
fd_constraints

[(['sid', 'university'], ['sname']),
 (['sid', 'university'], ['address']),
 (['sid', 'university'], ['postcode']),
 (['sid', 'university'], ['emailid']),
 (['sid', 'university'], ['phonenum'])]

In [9]:
violation_levels = [{'target_violation_fraction':0.2, 'dups_per_cluster':(1,2), 'cells_corrupted':(1,2)},
{'target_violation_fraction':0.4, 'dups_per_cluster':(2,3), 'cells_corrupted':(2,3)},
{'target_violation_fraction':0.6, 'dups_per_cluster':(2,3), 'cells_corrupted':(3,4)},
{'target_violation_fraction':0.8, 'dups_per_cluster':(2,3), 'cells_corrupted':(3,4)}]

#violation_levels = [{'target_violation_fraction':0.2, 'dups_per_cluster':(1,2), 'cells_corrupted':(1,2)}]
# {'target_violation_fraction':0.5, 'dups_per_cluster':(2,3), 'cells_corrupted':(1,2)},
# {'target_violation_fraction':0.8, 'dups_per_cluster':(3,5), 'cells_corrupted':(2,3)},
# {'target_violation_fraction':1.0, 'dups_per_cluster':(6,10), 'cells_corrupted':(3,5)}]

num_inconsistent_relations = 20

delete_cost = 2
update_cost = 1
eps=1e-9
prob_type = 'UNIFORM'
constraint_hardness = [1.0] * len(fd_constraints)

query_file_name_expected_Prob = "../../../queries/FP/synthetic/Students_truth.sql"
query_file_name_actual_Prob = "../../../queries/FP/synthetic/Students_prob.sql"
algorithm_name = 'PRA'
old_table_name = ''
new_table_name = ''

j = 3
i = 20
table_name = f"students_{j}_{i}"

In [10]:
table_name = f"students_{j}_{i}"
inconsistent_df = pd.read_sql_table(table_name, con=engine, schema="prototype_fp")

In [11]:
start = time.perf_counter()
inconsistent_df = preprocess_data(inconsistent_df)
actions,cluster_ids,rv_probs = compute_actions(inconsistent_df, fd_constraints, constraint_hardness,delete_cost, update_cost,eps,prob_type)
all_actions,cartesian_possible,cartesian_computed = min_cost_actions_pruned(cluster_ids,actions,delete_cost,update_cost)

#repaired_versions =  apply_combined_actions(inconsistent_df, all_actions, uuid_col="uuid")
#repaired_versions = pd.concat(repaired_versions, ignore_index=True)
# repaired_versions = repaired_versions.drop(columns=["uuid"])
# rv_probabilities = filter_and_condition_min_cost_rvs(rv_probs, repaired_versions)
# repaired_df = group_similar_rows_together(repaired_versions)

In [36]:
actions

{1: {1: [{'FD': 1,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 35, 40, 42},
    'TargetValue': 'David Wong',
    'DR': [24, 18],
    'UR': [],
    'Cost': 4,
    'min_cost': 2,
    'rv': 'fd1sname1=1',
    '_dr_set': frozenset({'18', '24'}),
    '_ur_tids': frozenset(),
    '_ur_cells': ()},
   {'FD': 1,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 24, 35, 40, 42},
    'TargetValue': 'David Wong',
    'DR': [18],
    'UR': ['24:sname=David Wong'],
    'Cost': 3,
    'min_cost': 2,
    'rv': 'fd1sname1=2',
    '_dr_set': frozenset({'18'}),
    '_ur_tids': frozenset({'24'}),
    '_ur_cells': ((('24', 'sname'), 'David Wong'),)},
   {'FD': 1,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 35, 40, 42},
    'TargetValue': 'David Wong',
    'DR': [24],
    'UR': ['18:sname=David Wong'],
    'Cost': 3,
    'min_cost': 2,
    'rv': 'fd1sname1=3',
    '_dr_set': frozenset({'24'}),
    '_ur_tids': frozenset({'18'}),
    '_ur_cells': ((('18', 'sname'), 'David Wong'),)},
   {'FD': 1,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 24, 35, 40, 42},
    'TargetValue': 'David Wong',
    'DR': [],
    'UR': ['18:sname=David Wong', '24:sname=David Wong'],
    'Cost': 2,
    'min_cost': 2,
    'rv': 'fd1sname1=4',
    '_dr_set': frozenset(),
    '_ur_tids': frozenset({'18', '24'}),
    '_ur_cells': ((('24', 'sname'), 'David Wong'),
     (('18', 'sname'), 'David Wong'))}],
  2: [{'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 18, 24, 40},
    'TargetValue': 'Kanaalstraat 3',
    'DR': [42, 35, 12],
    'UR': [],
    'Cost': 6,
    'min_cost': 3,
    'rv': 'fd2address1=1',
    '_dr_set': frozenset({'12', '35', '42'}),
    '_ur_tids': frozenset(),
    '_ur_cells': ()},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 18, 24, 40, 42},
    'TargetValue': 'Kanaalstraat 3',
    'DR': [35, 12],
    'UR': ['42:address=Kanaalstraat 3'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd2address1=2',
    '_dr_set': frozenset({'12', '35'}),
    '_ur_tids': frozenset({'42'}),
    '_ur_cells': ((('42', 'address'), 'Kanaalstraat 3'),)},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 18, 24, 35, 40},
    'TargetValue': 'Kanaalstraat 3',
    'DR': [42, 12],
    'UR': ['35:address=Kanaalstraat 3'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd2address1=3',
    '_dr_set': frozenset({'12', '42'}),
    '_ur_tids': frozenset({'35'}),
    '_ur_cells': ((('35', 'address'), 'Kanaalstraat 3'),)},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 24, 40},
    'TargetValue': 'Kanaalstraat 3',
    'DR': [42, 35],
    'UR': ['12:address=Kanaalstraat 3'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd2address1=4',
    '_dr_set': frozenset({'35', '42'}),
    '_ur_tids': frozenset({'12'}),
    '_ur_cells': ((('12', 'address'), 'Kanaalstraat 3'),)},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 18, 24, 35, 40, 42},
    'TargetValue': 'Kanaalstraat 3',
    'DR': [12],
    'UR': ['35:address=Kanaalstraat 3', '42:address=Kanaalstraat 3'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd2address1=5',
    '_dr_set': frozenset({'12'}),
    '_ur_tids': frozenset({'35', '42'}),
    '_ur_cells': ((('35', 'address'), 'Kanaalstraat 3'),
     (('42', 'address'), 'Kanaalstraat 3'))},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 24, 40, 42},
    'TargetValue': 'Kanaalstraat 3',
    'DR': [35],
    'UR': ['42:address=Kanaalstraat 3', '12:address=Kanaalstraat 3'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd2address1=6',
    '_dr_set': frozenset({'35'}),
    '_ur_tids': frozenset({'12', '42'}),
    '_ur_cells': ((('12', 'address'), 'Kanaalstraat 3'),
     (('42', 'address'), 'Kanaalstraat 3'))},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 24, 35, 40},
    'TargetValue': 'Kanaalstraat 3',
    'DR': [42],
    'UR': ['35:address=Kanaalstraat 3', '12:address=Kanaalstraat 3'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd2address1=7',
    '_dr_set': frozenset({'42'}),
    '_ur_tids': frozenset({'12', '35'}),
    '_ur_cells': ((('35', 'address'), 'Kanaalstraat 3'),
     (('12', 'address'), 'Kanaalstraat 3'))},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 24, 35, 40, 42},
    'TargetValue': 'Kanaalstraat 3',
    'DR': [],
    'UR': ['35:address=Kanaalstraat 3',
     '42:address=Kanaalstraat 3',
     '12:address=Kanaalstraat 3'],
    'Cost': 3,
    'min_cost': 3,
    'rv': 'fd2address1=8',
    '_dr_set': frozenset(),
    '_ur_tids': frozenset({'12', '35', '42'}),
    '_ur_cells': ((('35', 'address'), 'Kanaalstraat 3'),
     (('12', 'address'), 'Kanaalstraat 3'),
     (('42', 'address'), 'Kanaalstraat 3'))}],
  3: [{'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {18, 24, 40, 42},
    'TargetValue': '5612CD',
    'DR': [3, 35, 12],
    'UR': [],
    'Cost': 6,
    'min_cost': 3,
    'rv': 'fd3postcod1=1',
    '_dr_set': frozenset({'12', '3', '35'}),
    '_ur_tids': frozenset(),
    '_ur_cells': ()},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 18, 24, 40, 42},
    'TargetValue': '5612CD',
    'DR': [35, 12],
    'UR': ['3:postcode=5612CD'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd3postcod1=2',
    '_dr_set': frozenset({'12', '35'}),
    '_ur_tids': frozenset({'3'}),
    '_ur_cells': ((('3', 'postcode'), '5612CD'),)},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {18, 24, 35, 40, 42},
    'TargetValue': '5612CD',
    'DR': [3, 12],
    'UR': ['35:postcode=5612CD'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd3postcod1=3',
    '_dr_set': frozenset({'12', '3'}),
    '_ur_tids': frozenset({'35'}),
    '_ur_cells': ((('35', 'postcode'), '5612CD'),)},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {12, 18, 24, 40, 42},
    'TargetValue': '5612CD',
    'DR': [3, 35],
    'UR': ['12:postcode=5612CD'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd3postcod1=4',
    '_dr_set': frozenset({'3', '35'}),
    '_ur_tids': frozenset({'12'}),
    '_ur_cells': ((('12', 'postcode'), '5612CD'),)},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 18, 24, 35, 40, 42},
    'TargetValue': '5612CD',
    'DR': [12],
    'UR': ['3:postcode=5612CD', '35:postcode=5612CD'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd3postcod1=5',
    '_dr_set': frozenset({'12'}),
    '_ur_tids': frozenset({'3', '35'}),
    '_ur_cells': ((('35', 'postcode'), '5612CD'),
     (('3', 'postcode'), '5612CD'))},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 24, 40, 42},
    'TargetValue': '5612CD',
    'DR': [35],
    'UR': ['3:postcode=5612CD', '12:postcode=5612CD'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd3postcod1=6',
    '_dr_set': frozenset({'35'}),
    '_ur_tids': frozenset({'12', '3'}),
    '_ur_cells': ((('12', 'postcode'), '5612CD'),
     (('3', 'postcode'), '5612CD'))},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {12, 18, 24, 35, 40, 42},
    'TargetValue': '5612CD',
    'DR': [3],
    'UR': ['35:postcode=5612CD', '12:postcode=5612CD'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd3postcod1=7',
    '_dr_set': frozenset({'3'}),
    '_ur_tids': frozenset({'12', '35'}),
    '_ur_cells': ((('35', 'postcode'), '5612CD'),
     (('12', 'postcode'), '5612CD'))},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 24, 35, 40, 42},
    'TargetValue': '5612CD',
    'DR': [],
    'UR': ['3:postcode=5612CD', '35:postcode=5612CD', '12:postcode=5612CD'],
    'Cost': 3,
    'min_cost': 3,
    'rv': 'fd3postcod1=8',
    '_dr_set': frozenset(),
    '_ur_tids': frozenset({'12', '3', '35'}),
    '_ur_cells': ((('35', 'postcode'), '5612CD'),
     (('12', 'postcode'), '5612CD'),
     (('3', 'postcode'), '5612CD'))}],
  4: [{'FD': 4,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 35, 40, 42},
    'TargetValue': 'dw',
    'DR': [24, 18],
    'UR': [],
    'Cost': 4,
    'min_cost': 2,
    'rv': 'fd4emailid1=1',
    '_dr_set': frozenset({'18', '24'}),
    '_ur_tids': frozenset(),
    '_ur_cells': ()},
   {'FD': 4,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 24, 35, 40, 42},
    'TargetValue': 'dw',
    'DR': [18],
    'UR': ['24:emailid=dw'],
    'Cost': 3,
    'min_cost': 2,
    'rv': 'fd4emailid1=2',
    '_dr_set': frozenset({'18'}),
    '_ur_tids': frozenset({'24'}),
    '_ur_cells': ((('24', 'emailid'), 'dw'),)},
   {'FD': 4,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 35, 40, 42},
    'TargetValue': 'dw',
    'DR': [24],
    'UR': ['18:emailid=dw'],
    'Cost': 3,
    'min_cost': 2,
    'rv': 'fd4emailid1=3',
    '_dr_set': frozenset({'24'}),
    '_ur_tids': frozenset({'18'}),
    '_ur_cells': ((('18', 'emailid'), 'dw'),)},
   {'FD': 4,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 24, 35, 40, 42},
    'TargetValue': 'dw',
    'DR': [],
    'UR': ['18:emailid=dw', '24:emailid=dw'],
    'Cost': 2,
    'min_cost': 2,
    'rv': 'fd4emailid1=4',
    '_dr_set': frozenset(),
    '_ur_tids': frozenset({'18', '24'}),
    '_ur_cells': ((('24', 'emailid'), 'dw'), (('18', 'emailid'), 'dw'))}],
  5: [{'FD': 5,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 18, 24, 35, 40},
    'TargetValue': 14,
    'DR': [42, 12],
    'UR': [],
    'Cost': 4,
    'min_cost': 2,
    'rv': 'fd5phonenu1=1',
    '_dr_set': frozenset({'12', '42'}),
    '_ur_tids': frozenset(),
    '_ur_cells': ()},
   {'FD': 5,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 18, 24, 35, 40, 42},
    'TargetValue': 14,
    'DR': [12],
    'UR': ['42:phonenum=14'],
    'Cost': 3,
    'min_cost': 2,
    'rv': 'fd5phonenu1=2',
    '_dr_set': frozenset({'12'}),
    '_ur_tids': frozenset({'42'}),
    '_ur_cells': ((('42', 'phonenum'), 14),)},
   {'FD': 5,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 24, 35, 40},
    'TargetValue': 14,
    'DR': [42],
    'UR': ['12:phonenum=14'],
    'Cost': 3,
    'min_cost': 2,
    'rv': 'fd5phonenu1=3',
    '_dr_set': frozenset({'42'}),
    '_ur_tids': frozenset({'12'}),
    '_ur_cells': ((('12', 'phonenum'), 14),)},
   {'FD': 5,
    'LHS': ['sid', 'university'],
    'Cluster': 1,
    'Tuples': {3, 12, 18, 24, 35, 40, 42},
    'TargetValue': 14,
    'DR': [],
    'UR': ['42:phonenum=14', '12:phonenum=14'],
    'Cost': 2,
    'min_cost': 2,
    'rv': 'fd5phonenu1=4',
    '_dr_set': frozenset(),
    '_ur_tids': frozenset({'12', '42'}),
    '_ur_cells': ((('12', 'phonenum'), 14), (('42', 'phonenum'), 14))}]},
 2: {1: [], 2: [], 3: [], 4: [], 5: []},
 3: {1: [{'FD': 1,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 32, 34, 46},
    'TargetValue': 'Aisha Khan',
    'DR': [33, 44],
    'UR': [],
    'Cost': 4,
    'min_cost': 2,
    'rv': 'fd1sname3=1',
    '_dr_set': frozenset({'33', '44'}),
    '_ur_tids': frozenset(),
    '_ur_cells': ()},
   {'FD': 1,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 32, 33, 34, 46},
    'TargetValue': 'Aisha Khan',
    'DR': [44],
    'UR': ['33:sname=Aisha Khan'],
    'Cost': 3,
    'min_cost': 2,
    'rv': 'fd1sname3=2',
    '_dr_set': frozenset({'44'}),
    '_ur_tids': frozenset({'33'}),
    '_ur_cells': ((('33', 'sname'), 'Aisha Khan'),)},
   {'FD': 1,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 32, 34, 44, 46},
    'TargetValue': 'Aisha Khan',
    'DR': [33],
    'UR': ['44:sname=Aisha Khan'],
    'Cost': 3,
    'min_cost': 2,
    'rv': 'fd1sname3=3',
    '_dr_set': frozenset({'33'}),
    '_ur_tids': frozenset({'44'}),
    '_ur_cells': ((('44', 'sname'), 'Aisha Khan'),)},
   {'FD': 1,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 32, 33, 34, 44, 46},
    'TargetValue': 'Aisha Khan',
    'DR': [],
    'UR': ['33:sname=Aisha Khan', '44:sname=Aisha Khan'],
    'Cost': 2,
    'min_cost': 2,
    'rv': 'fd1sname3=4',
    '_dr_set': frozenset(),
    '_ur_tids': frozenset({'33', '44'}),
    '_ur_cells': ((('44', 'sname'), 'Aisha Khan'),
     (('33', 'sname'), 'Aisha Khan'))}],
  2: [{'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {30, 33, 34, 44},
    'TargetValue': 'Spuistraat 45',
    'DR': [32, 21, 46],
    'UR': [],
    'Cost': 6,
    'min_cost': 3,
    'rv': 'fd2address3=1',
    '_dr_set': frozenset({'21', '32', '46'}),
    '_ur_tids': frozenset(),
    '_ur_cells': ()},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {30, 32, 33, 34, 44},
    'TargetValue': 'Spuistraat 45',
    'DR': [21, 46],
    'UR': ['32:address=Spuistraat 45'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd2address3=2',
    '_dr_set': frozenset({'21', '46'}),
    '_ur_tids': frozenset({'32'}),
    '_ur_cells': ((('32', 'address'), 'Spuistraat 45'),)},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 33, 34, 44},
    'TargetValue': 'Spuistraat 45',
    'DR': [32, 46],
    'UR': ['21:address=Spuistraat 45'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd2address3=3',
    '_dr_set': frozenset({'32', '46'}),
    '_ur_tids': frozenset({'21'}),
    '_ur_cells': ((('21', 'address'), 'Spuistraat 45'),)},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {30, 33, 34, 44, 46},
    'TargetValue': 'Spuistraat 45',
    'DR': [32, 21],
    'UR': ['46:address=Spuistraat 45'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd2address3=4',
    '_dr_set': frozenset({'21', '32'}),
    '_ur_tids': frozenset({'46'}),
    '_ur_cells': ((('46', 'address'), 'Spuistraat 45'),)},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 32, 33, 34, 44},
    'TargetValue': 'Spuistraat 45',
    'DR': [46],
    'UR': ['32:address=Spuistraat 45', '21:address=Spuistraat 45'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd2address3=5',
    '_dr_set': frozenset({'46'}),
    '_ur_tids': frozenset({'21', '32'}),
    '_ur_cells': ((('21', 'address'), 'Spuistraat 45'),
     (('32', 'address'), 'Spuistraat 45'))},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {30, 32, 33, 34, 44, 46},
    'TargetValue': 'Spuistraat 45',
    'DR': [21],
    'UR': ['32:address=Spuistraat 45', '46:address=Spuistraat 45'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd2address3=6',
    '_dr_set': frozenset({'21'}),
    '_ur_tids': frozenset({'32', '46'}),
    '_ur_cells': ((('46', 'address'), 'Spuistraat 45'),
     (('32', 'address'), 'Spuistraat 45'))},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 33, 34, 44, 46},
    'TargetValue': 'Spuistraat 45',
    'DR': [32],
    'UR': ['46:address=Spuistraat 45', '21:address=Spuistraat 45'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd2address3=7',
    '_dr_set': frozenset({'32'}),
    '_ur_tids': frozenset({'21', '46'}),
    '_ur_cells': ((('46', 'address'), 'Spuistraat 45'),
     (('21', 'address'), 'Spuistraat 45'))},
   {'FD': 2,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 32, 33, 34, 44, 46},
    'TargetValue': 'Spuistraat 45',
    'DR': [],
    'UR': ['32:address=Spuistraat 45',
     '46:address=Spuistraat 45',
     '21:address=Spuistraat 45'],
    'Cost': 3,
    'min_cost': 3,
    'rv': 'fd2address3=8',
    '_dr_set': frozenset(),
    '_ur_tids': frozenset({'21', '32', '46'}),
    '_ur_cells': ((('46', 'address'), 'Spuistraat 45'),
     (('21', 'address'), 'Spuistraat 45'),
     (('32', 'address'), 'Spuistraat 45'))}],
  3: [{'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {30, 32, 33, 34},
    'TargetValue': '1012WX',
    'DR': [44, 21, 46],
    'UR': [],
    'Cost': 6,
    'min_cost': 3,
    'rv': 'fd3postcod3=1',
    '_dr_set': frozenset({'21', '44', '46'}),
    '_ur_tids': frozenset(),
    '_ur_cells': ()},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {30, 32, 33, 34, 44},
    'TargetValue': '1012WX',
    'DR': [21, 46],
    'UR': ['44:postcode=1012WX'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd3postcod3=2',
    '_dr_set': frozenset({'21', '46'}),
    '_ur_tids': frozenset({'44'}),
    '_ur_cells': ((('44', 'postcode'), '1012WX'),)},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 32, 33, 34},
    'TargetValue': '1012WX',
    'DR': [44, 46],
    'UR': ['21:postcode=1012WX'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd3postcod3=3',
    '_dr_set': frozenset({'44', '46'}),
    '_ur_tids': frozenset({'21'}),
    '_ur_cells': ((('21', 'postcode'), '1012WX'),)},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {30, 32, 33, 34, 46},
    'TargetValue': '1012WX',
    'DR': [44, 21],
    'UR': ['46:postcode=1012WX'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd3postcod3=4',
    '_dr_set': frozenset({'21', '44'}),
    '_ur_tids': frozenset({'46'}),
    '_ur_cells': ((('46', 'postcode'), '1012WX'),)},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 32, 33, 34, 44},
    'TargetValue': '1012WX',
    'DR': [46],
    'UR': ['44:postcode=1012WX', '21:postcode=1012WX'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd3postcod3=5',
    '_dr_set': frozenset({'46'}),
    '_ur_tids': frozenset({'21', '44'}),
    '_ur_cells': ((('21', 'postcode'), '1012WX'),
     (('44', 'postcode'), '1012WX'))},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {30, 32, 33, 34, 44, 46},
    'TargetValue': '1012WX',
    'DR': [21],
    'UR': ['44:postcode=1012WX', '46:postcode=1012WX'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd3postcod3=6',
    '_dr_set': frozenset({'21'}),
    '_ur_tids': frozenset({'44', '46'}),
    '_ur_cells': ((('46', 'postcode'), '1012WX'),
     (('44', 'postcode'), '1012WX'))},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 32, 33, 34, 46},
    'TargetValue': '1012WX',
    'DR': [44],
    'UR': ['46:postcode=1012WX', '21:postcode=1012WX'],
    'Cost': 4,
    'min_cost': 3,
    'rv': 'fd3postcod3=7',
    '_dr_set': frozenset({'44'}),
    '_ur_tids': frozenset({'21', '46'}),
    '_ur_cells': ((('46', 'postcode'), '1012WX'),
     (('21', 'postcode'), '1012WX'))},
   {'FD': 3,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {21, 30, 32, 33, 34, 44, 46},
    'TargetValue': '1012WX',
    'DR': [],
    'UR': ['44:postcode=1012WX', '46:postcode=1012WX', '21:postcode=1012WX'],
    'Cost': 3,
    'min_cost': 3,
    'rv': 'fd3postcod3=8',
    '_dr_set': frozenset(),
    '_ur_tids': frozenset({'21', '44', '46'}),
    '_ur_cells': ((('46', 'postcode'), '1012WX'),
     (('44', 'postcode'), '1012WX'),
     (('21', 'postcode'), '1012WX'))}],
  4: [{'FD': 4,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {30, 33, 44, 46},
    'TargetValue': 'ak',
    'DR': [32, 34, 21],
    'UR': [],
    'Cost': 6,
    'min_cost': 3,
    'rv': 'fd4emailid3=1',
    '_dr_set': frozenset({'21', '32', '34'}),
    '_ur_tids': frozenset(),
    '_ur_cells': ()},
   {'FD': 4,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {30, 32, 33, 44, 46},
    'TargetValue': 'ak',
    'DR': [34, 21],
    'UR': ['32:emailid=ak'],
    'Cost': 5,
    'min_cost': 3,
    'rv': 'fd4emailid3=2',
    '_dr_set': frozenset({'21', '34'}),
    '_ur_tids': frozenset({'32'}),
    '_ur_cells': ((('32', 'emailid'), 'ak'),)},
   {'FD': 4,
    'LHS': ['sid', 'university'],
    'Cluster': 3,
    'Tuples': {30, 33, 34, 44, 46},

In [12]:
repaired_versions =  apply_combined_actions(inconsistent_df, all_actions, uuid_col="uuid")

In [13]:
repaired_versions = pd.concat(repaired_versions, ignore_index=True)
repaired_versions = repaired_versions.drop(columns=["uuid"])

In [14]:
#rv_probabilities = filter_and_condition_min_cost_rvs(rv_probs, repaired_versions)
rv_probabilities = rv_probs

In [15]:
repaired_df = group_similar_rows_together(repaired_versions)
repaired_df.to_sql('students_prob',engine,schema='prototype_fp',index=False,if_exists='append')

49

In [16]:
entries = [f"{k}:{v}" for k, v in rv_probabilities.items()]
joined = ';'.join(entries)

update_stmt = f"UPDATE prototype_fp._dict\nSET dict=add(dict, '{joined}')\nWHERE name='students_dict';"
with engine.begin() as connection:
    connection.execute(text(update_stmt))