In [1]:
import sys
import os
import warnings
import time

PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), "..", "..", ".."))
if PROJECT_ROOT not in sys.path:
    sys.path.append(PROJECT_ROOT)
warnings.filterwarnings("ignore")

In [2]:
from src.database.db_connection import *
from src.database.preparation import *
from src.utilities.step1_simplify_fds import *
from src.utilities.step2_clustering_and_generating_repairs import *
from src.utilities.step3_convert_back_to_db import *
from src.utilities.step4_group_similar_sentences import *
from src.evaluation.metrics import *
from src.database.db_connection import *

In [3]:
engine = create_engine_for_db()

In [4]:
fd_constraints = [(['HospitalName'],['ZipCode', 'PhoneNumber', 'Address1', 'HospitalOwner', 'ProviderNumber','City'])]

In [5]:
fd_constraints = simplify_FDs(fd_constraints)

In [6]:
fd_constraints

[(['HospitalName'], ['ZipCode']),
 (['HospitalName'], ['PhoneNumber']),
 (['HospitalName'], ['Address1']),
 (['HospitalName'], ['HospitalOwner']),
 (['HospitalName'], ['ProviderNumber']),
 (['HospitalName'], ['City'])]

In [7]:
delete_cost = 2
update_cost = 1
eps=1e-9
prob_type = 'COST_BASED'
constraint_hardness = [1.0] * len(fd_constraints)
print(constraint_hardness)

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [8]:
table_name = 'hospital_100'
hospital_df = pd.read_sql_table(table_name, con=engine, schema="prototype_fp")
print(len(hospital_df))

1000

In [9]:
hospital_df.head(5)

,tid,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,HospitalOwner
0,0,10018,callahan eye foundation hospital,1720 university blvd,birmingham,al,35233,jefferson,2053258100,acute care hospitals,voluntary non-profit - private
1,1,10018,callahan eye foundation hospital,1720 university blvd,birmingham,al,35233,jefferson,2053258100,acute care hospitals,voluntary non-profit - private
2,2,10018,callahan eye foundation hospital,1720 university blvd,birmingham,al,35233,jefferson,2053258100,acute care hospitals,voluntary non-profit - private
3,3,10018,callahan eye foundation hospital,1720 university blvd,birminghxm,al,35233,jefferson,2053258100,acute care hospitals,voluntary non-profit - private
4,4,10018,callahan eye foundation hospital,1720 university blvd,birmingham,al,35233,jefferson,2053258100,acute care hospitals,voluntary non-profit - private

In [10]:
dfs_by_hospital = [g.copy() for _, g in hospital_df.groupby("HospitalName", dropna=False)]

In [11]:
print(len(dfs_by_hospital))

69

In [12]:
with engine.begin() as connection:
    connection.execute(text("""
    TRUNCATE TABLE prototype_fp.hospital_prob_100
    RESTART IDENTITY
    CASCADE;
    """))
    connection.execute(text("""
    UPDATE prototype_fp."_dict"
    SET dict = dictionary('')
    WHERE name = :name;
    """), {"name": "hospital_dict_100"})

In [13]:
for i,inconsistent_df in enumerate(dfs_by_hospital,start=1):
    start = time.perf_counter()
    inconsistent_df.rename(columns={"tid": "uuid"}, inplace=True)
    actions,cluster_ids,rv_probs = compute_actions_batch(inconsistent_df, fd_constraints, constraint_hardness,i,delete_cost, update_cost,eps,prob_type)
    all_actions,cartesian_possible,cartesian_computed = min_cost_actions_pruned(cluster_ids,actions,delete_cost,update_cost)
    repaired_versions =  apply_combined_actions(inconsistent_df, all_actions, uuid_col="uuid")
    repaired_versions = pd.concat(repaired_versions, ignore_index=True)
    rv_probabilities = filter_and_condition_min_cost_rvs(rv_probs, repaired_versions)
    repaired_df = group_similar_rows_together(repaired_versions)
    repaired_df.rename(columns={"uuid": "tid"}, inplace=True)
    repaired_df.to_sql('hospital_prob_100',engine,schema='prototype_fp',index=False,if_exists='append')
    entries = [f"{k}:{v}" for k, v in rv_probabilities.items()]
    joined = ';'.join(entries)
    update_stmt = f"""UPDATE prototype_fp._dict SET dict = add(COALESCE(dict, ''), '{joined}') WHERE name = 'hospital_dict_100';"""
    #update_stmt = f"UPDATE prototype_fp._dict\nSET dict=add(dict, '{joined}')\nWHERE name='hospital_dict';"
    with engine.begin() as connection:
        connection.execute(text(update_stmt))
    elapsed = time.perf_counter() - start
    print(f"\nCurrent cluster {i} done")
    print(f"Time taken: {elapsed}")

Current cluster 1 done
Time taken: 0.08320239998283796

Current cluster 2 done
Time taken: 0.09156170001369901

Current cluster 3 done
Time taken: 0.06697109999367967

Current cluster 4 done
Time taken: 0.057732899993425235

Current cluster 5 done
Time taken: 0.08306659999652766

Current cluster 6 done
Time taken: 0.0677764999854844

Current cluster 7 done
Time taken: 0.056965600000694394

Current cluster 8 done
Time taken: 0.07512339999084361

Current cluster 9 done
Time taken: 0.07513580002705567

Current cluster 10 done
Time taken: 0.05664439999964088

Current cluster 11 done
Time taken: 0.06819389999145642

Current cluster 12 done
Time taken: 0.057500299997627735

Current cluster 13 done
Time taken: 0.08310970000457019

Current cluster 14 done
Time taken: 0.07483090000459924

Current cluster 15 done
Time taken: 0.05820780000067316

Current cluster 16 done
Time taken: 0.08429460000479594

Current cluster 17 done
Time taken: 0.05683880002470687

Current cluster 18 done
Time taken: 0.07520500000100583

Current cluster 19 done
Time taken: 0.05804730000090785

Current cluster 20 done
Time taken: 0.07497590000275522

Current cluster 21 done
Time taken: 0.06645079998997971

Current cluster 22 done
Time taken: 0.07689389999723062

Current cluster 23 done
Time taken: 0.07299389998661354

Current cluster 24 done
Time taken: 0.07498080001096241

Current cluster 25 done
Time taken: 0.08321330000762828

Current cluster 26 done
Time taken: 0.07459910001489334

Current cluster 27 done
Time taken: 0.0582185999955982

Current cluster 28 done
Time taken: 0.08331829999224283

Current cluster 29 done
Time taken: 0.08393249998334795

Current cluster 30 done
Time taken: 0.0658945000031963

Current cluster 31 done
Time taken: 0.05871160002425313

Current cluster 32 done
Time taken: 0.0826023000117857

Current cluster 33 done
Time taken: 0.06683609998435713

Current cluster 34 done
Time taken: 0.07460190000711009

Current cluster 35 done
Time taken: 0.05854860000545159

Current cluster 36 done
Time taken: 0.07432859999244101

Current cluster 37 done
Time taken: 0.058285800012527034

Current cluster 38 done
Time taken: 0.0753608999948483

Current cluster 39 done
Time taken: 0.0743330999976024

Current cluster 40 done
Time taken: 0.08310939997318201

Current cluster 41 done
Time taken: 0.058461799984797835

Current cluster 42 done
Time taken: 0.06656659999862313

Current cluster 43 done
Time taken: 0.058137500018347055

Current cluster 44 done
Time taken: 0.05878089999896474

Current cluster 45 done
Time taken: 0.06710699998075143

Current cluster 46 done
Time taken: 0.14209519998985343

Current cluster 47 done
Time taken: 0.056464599998435006

Current cluster 48 done
Time taken: 0.05902960000094026

Current cluster 49 done
Time taken: 0.0494691000203602

Current cluster 50 done
Time taken: 0.04255270000430755

Current cluster 51 done
Time taken: 0.04050530001404695

Current cluster 52 done
Time taken: 0.0586491999856662

Current cluster 53 done
Time taken: 0.05761940000229515

Current cluster 54 done
Time taken: 0.05013730001519434

Current cluster 55 done
Time taken: 0.0580881999921985

Current cluster 56 done
Time taken: 0.04988559999037534

Current cluster 57 done
Time taken: 0.04200469999341294

Current cluster 58 done
Time taken: 0.05793859998811968

Current cluster 59 done
Time taken: 0.12513010000111535

Current cluster 60 done
Time taken: 0.05802830000175163

Current cluster 61 done
Time taken: 0.049785800016252324

Current cluster 62 done
Time taken: 0.05011240000021644

Current cluster 63 done
Time taken: 0.05825659999391064

Current cluster 64 done
Time taken: 0.04985789998318069

Current cluster 65 done
Time taken: 0.042550799989840016

Current cluster 66 done
Time taken: 0.04856260001542978

Current cluster 67 done
Time taken: 0.05873039999278262

Current cluster 68 done
Time taken: 0.04930009998497553

Current cluster 69 done
Time taken: 0.05042359998333268