In [1]:
import sys
import os
import warnings
import time

PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), "..", "..", ".."))
if PROJECT_ROOT not in sys.path:
    sys.path.append(PROJECT_ROOT)
warnings.filterwarnings("ignore")

In [2]:
from src.database.db_connection import *
from src.database.preparation import *
from src.utilities.step1_simplify_fds import *
from src.utilities.step2_clustering_and_generating_repairs import *
from src.utilities.step3_convert_back_to_db import *
from src.utilities.step4_group_similar_sentences import *
from src.evaluation.metrics import *
from src.database.db_connection import *

In [3]:
engine = create_engine_for_db()

In [4]:
fd_constraints = [(['HospitalName'],['ZipCode', 'PhoneNumber', 'Address1', 'HospitalOwner', 'ProviderNumber','City'])]

In [5]:
fd_constraints = simplify_FDs(fd_constraints)

In [6]:
fd_constraints

[(['HospitalName'], ['ZipCode']),
 (['HospitalName'], ['PhoneNumber']),
 (['HospitalName'], ['Address1']),
 (['HospitalName'], ['HospitalOwner']),
 (['HospitalName'], ['ProviderNumber']),
 (['HospitalName'], ['City'])]

In [7]:
delete_cost = 2
update_cost = 1
eps=1e-9
prob_type = 'UNIFORM'
constraint_hardness = [1.0] * len(fd_constraints)
print(constraint_hardness)

[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [8]:
table_name = 'hospital'
hospital_df = pd.read_sql_table(table_name, con=engine, schema="prototype_fp")
print(len(hospital_df))

1000

In [9]:
hospital_df.head(5)

,tid,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,HospitalOwner
0,0,10018,callahan eye foundation hospital,1720 university blvd,birmingham,al,35233,jefferson,2053258100,acute care hospitals,voluntary non-profit - private
1,1,10018,callahan eye foundation hospital,1720 university blvd,birmingham,al,35233,jefferson,2053258100,acute care hospitals,voluntary non-profit - private
2,2,10018,callahan eye foundation hospital,1720 university blvd,birmingham,al,35233,jefferson,2053258100,acute care hospitals,voluntary non-profit - private
3,3,10018,callahan eye foundation hospital,1720 university blvd,birminghxm,al,35233,jefferson,2053258100,acute care hospitals,voluntary non-profit - private
4,4,10018,callahan eye foundation hospital,1720 university blvd,birmingham,al,35233,jefferson,2053258100,acute care hospitals,voluntary non-profit - private

In [10]:
dfs_by_hospital = [g.copy() for _, g in hospital_df.groupby("HospitalName", dropna=False)]

In [11]:
print(len(dfs_by_hospital))

69

In [12]:
with engine.begin() as connection:
    connection.execute(text("""
    TRUNCATE TABLE prototype_fp.hospital_prob
    RESTART IDENTITY
    CASCADE;
    """))
    connection.execute(text("""
    UPDATE prototype_fp."_dict"
    SET dict = dictionary('')
    WHERE name = :name;
    """), {"name": "hospital_dict"})

In [13]:
for i,inconsistent_df in enumerate(dfs_by_hospital,start=1):
    start = time.perf_counter()
    inconsistent_df.rename(columns={"tid": "uuid"}, inplace=True)
    actions,cluster_ids,rv_probs = compute_actions_batch(inconsistent_df, fd_constraints, constraint_hardness,i,delete_cost, update_cost,eps,prob_type)
    all_actions,cartesian_possible,cartesian_computed = min_cost_actions_pruned(cluster_ids,actions,delete_cost,update_cost)
    repaired_versions =  apply_combined_actions(inconsistent_df, all_actions, uuid_col="uuid")
    repaired_versions = pd.concat(repaired_versions, ignore_index=True)
    #rv_probabilities = filter_and_condition_min_cost_rvs(rv_probs, repaired_versions)
    rv_probabilities = rv_probs
    repaired_df = group_similar_rows_together(repaired_versions)
    repaired_df.rename(columns={"uuid": "tid"}, inplace=True)
    repaired_df.to_sql('hospital_prob_100',engine,schema='prototype_fp',index=False,if_exists='append')
    entries = [f"{k}:{v}" for k, v in rv_probabilities.items()]
    joined = ';'.join(entries)
    update_stmt = f"""UPDATE prototype_fp._dict SET dict = add(COALESCE(dict, ''), '{joined}') WHERE name = 'hospital_dict_100';"""
    #update_stmt = f"UPDATE prototype_fp._dict\nSET dict=add(dict, '{joined}')\nWHERE name='hospital_dict';"
    with engine.begin() as connection:
        connection.execute(text(update_stmt))
    elapsed = time.perf_counter() - start
    print(f"\nCurrent cluster {i} done")
    print(f"Time taken: {elapsed}")

Current cluster 1 done
Time taken: 0.0480354999890551

Current cluster 2 done
Time taken: 0.05003829998895526

Current cluster 3 done
Time taken: 0.044182000012369826

Current cluster 4 done
Time taken: 0.03829789999872446

Current cluster 5 done
Time taken: 0.04448850001790561

Current cluster 6 done
Time taken: 0.03111359998001717

Current cluster 7 done
Time taken: 0.041159700020216405

Current cluster 8 done
Time taken: 0.04225140000926331

Current cluster 9 done
Time taken: 0.041325500002130866

Current cluster 10 done
Time taken: 0.03237169998465106

Current cluster 11 done
Time taken: 0.042107699991902336

Current cluster 12 done
Time taken: 0.03334940000786446

Current cluster 13 done
Time taken: 0.032602100021904334

Current cluster 14 done
Time taken: 0.03351500001735985

Current cluster 15 done
Time taken: 0.03380229999311268

Current cluster 16 done
Time taken: 0.043244200001936406

Current cluster 17 done
Time taken: 0.030363300000317395

Current cluster 18 done
Time taken: 0.04510609997669235

Current cluster 19 done
Time taken: 0.038725299993529916

Current cluster 20 done
Time taken: 0.04378559999167919

Current cluster 21 done
Time taken: 0.03093460001400672

Current cluster 22 done
Time taken: 0.04229649997432716

Current cluster 23 done
Time taken: 0.04306620001443662

Current cluster 24 done
Time taken: 0.050948499992955476

Current cluster 25 done
Time taken: 0.03967460000421852

Current cluster 26 done
Time taken: 0.043327199993655086

Current cluster 27 done
Time taken: 0.03878979998989962

Current cluster 28 done
Time taken: 0.0421531000174582

Current cluster 29 done
Time taken: 0.043625299993436784

Current cluster 30 done
Time taken: 0.03895030001876876

Current cluster 31 done
Time taken: 0.03467819999787025

Current cluster 32 done
Time taken: 0.03983460000017658

Current cluster 33 done
Time taken: 0.043475500016938895

Current cluster 34 done
Time taken: 0.044376400008331984

Current cluster 35 done
Time taken: 0.037771100003737956

Current cluster 36 done
Time taken: 0.041537299985066056

Current cluster 37 done
Time taken: 0.03249049998703413

Current cluster 38 done
Time taken: 0.041864900005748495

Current cluster 39 done
Time taken: 0.04168059999938123

Current cluster 40 done
Time taken: 0.041685800009872764

Current cluster 41 done
Time taken: 0.03442089998861775

Current cluster 42 done
Time taken: 0.04134419999900274

Current cluster 43 done
Time taken: 0.03136140000424348

Current cluster 44 done
Time taken: 0.03398099998594262

Current cluster 45 done
Time taken: 0.04400919997715391

Current cluster 46 done
Time taken: 0.11683719998109154

Current cluster 47 done
Time taken: 0.052911600010702386

Current cluster 48 done
Time taken: 0.04451150001841597

Current cluster 49 done
Time taken: 0.033415399986552075

Current cluster 50 done
Time taken: 0.03377320000436157

Current cluster 51 done
Time taken: 0.03279080000356771

Current cluster 52 done
Time taken: 0.11948280001524836

Current cluster 53 done
Time taken: 0.04920450001372956

Current cluster 54 done
Time taken: 0.030708500009495765

Current cluster 55 done
Time taken: 0.04175939998822287

Current cluster 56 done
Time taken: 0.044514200009871274

Current cluster 57 done
Time taken: 0.03153850001399405

Current cluster 58 done
Time taken: 0.053418600000441074

Current cluster 59 done
Time taken: 0.0363913000037428

Current cluster 60 done
Time taken: 0.05065609997836873

Current cluster 61 done
Time taken: 0.03491600000415929

Current cluster 62 done
Time taken: 0.030444799980614334

Current cluster 63 done
Time taken: 0.053083699982380494

Current cluster 64 done
Time taken: 0.03998589998809621

Current cluster 65 done
Time taken: 0.04118560001370497

Current cluster 66 done
Time taken: 0.04239560000132769

Current cluster 67 done
Time taken: 0.031678999977884814

Current cluster 68 done
Time taken: 0.03399389999685809

Current cluster 69 done
Time taken: 0.0369160000118427